{% extends 'index.html' %}
{% load static %}

{% block content %}
    <!-- CAtegories Section Starts Here -->
    <section class="categories">
        <div class="container">
            <h2 class="text-center" style="color: #ff4757;">Explore Categories</h2>

            {% for category in categories %}
            <a href="/category/{{ category.id }}">
            <div class="box-3 float-container">
                <img src="{{ category.image_path.url }}" alt="{{ category.name }}" class="img-responsive img-curve" width="200px" height="300px">

                <h3 class="text-center">{{ category.name }}</h3>
            </div>
            </a>
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Categories Section Ends Here -->

{% endblock content %}