
{% extends 'index.html' %}
{% load static %}

{% block content %}
        <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search text-center">
        <div class="container">
            
            <form action="food-search.html" method="POST">
                <input type="search" name="search" placeholder="Search for Food.." required>
                <input type="submit" name="submit" value="Search" class="btn btn-primary">
            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->

    <!-- CAtegories Section Starts Here -->
    <section class="categories">
        <div class="container">
            <h2 class="text-center">Explore Categories</h2>

            {% for category in categories %}
                
                <a href="category/{{ category.id }}">
                    
                <div class="box-3 float-container">
                    
                    <img src="{{ category.image_path.url }}" alt="{{ category.name }}" class="img-responsive img-curve" width="200px" height="300px">

                    {% comment %} <h3 class="float-text text-white">{{ category.name }}</h3> {% endcomment %}
                    <h3 class="text-center" style="color: #ff6b81;">{{ category.name }}</h3>
                </div>
                </a>
                
            {% endfor %}

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Categories Section Ends Here -->

    <!-- fOOD MEnu Section Starts Here -->
    <section class="food-menu">
        <div class="container">
            <h2 class="text-center">Food Menu</h2>
            <form method="POST" action="{% url 'orderList' %}">
                {% csrf_token %}
                <div style="margin-bottom: 25px">
                <button type="submit" class="btn btn-primary"><i class="fa-regular fa-circle-check"></i> Comfirm Order</button>
                <button type="reset" class="btn btn-primary"><i class="fa-solid fa-arrow-rotate-left"></i> Reset Order</button>
                </div
                <br>
            {% for victual in victuals %}
                <div class="food-menu-box">
                    <div class="food-menu-img">
                        <img src="{{ victual.image_path.url }}" alt="{{ victual.name }}" class="img-responsive img-curve">
                    </div>

                    <div class="food-menu-desc">
                        <h4 name="victual-name-{{ victual.id }}">{{ victual.name }}</h4>
                        <p class="food-price">{{ victual.price }}</p>
                        <p class="food-detail">
                            {{ victual.desc }}
                        </p>
                        <label for="qty">Select Quantity :</label>
                        <select id="qty" name="qty-{{ victual.id }}">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        {% comment %} <input type="number" name="qty-{{ victual.id }}" value="0" min="0" required> {% endcomment %}
                        <br>

                        {% comment %} <a href="food/order/{{ victual.id }}" class="btn btn-primary">Order Now</a> {% endcomment %}
                        {% comment %} <div>
                            <i class="fa-solid fa-minus"></i>
                            <input type="number" class="input-qty" value="1" readonly>
                            <i class="fa-solid fa-plus"></i>
                        </div> {% endcomment %}
                    </div>
                </div>
                
            {% endfor %}
            </form>
            <div class="clearfix"></div>
        </div>

        <p class="text-center">
            <a href="#">See All Foods</a>
        </p>
    </section>
    <!-- fOOD Menu Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Vijay Thapa</a></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->
{% endblock %}